{{- if .Values.pgbouncer.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: pgbouncer
spec:
  selector:
    app: pgbouncer
  ports:
    - protocol: TCP
      port: {{ .Values.pgbouncer.service.port }}
      targetPort: {{ .Values.pgbouncer.service.port }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
spec:
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      containers:
        - name: pgbouncer
          image: "{{ .Values.global.registry }}/{{ .Values.pgbouncer.image.repository }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.pgbouncer.service.port }}
  {{- end }}
