{{- if .Values.postgres.enabled -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgres.persistence.size }}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: {{ .Values.postgres.service.port }}
      targetPort: {{ .Values.postgres.service.port }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: "{{ .Values.global.registry }}/{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.postgres.service.port }}

          envFrom:
            - configMapRef:
                name: global-config
            - configMapRef:
                name: postgres-config

          env:
            - name: DB_LIST
              value: "{{ range .Values.postgres.databases }}{{ . }} {{ end }}"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: tis-app-secrets
                  key: postgres-password
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
            - name: MAX_CONNECTIONS
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: MAX_CONNECTIONS
            - name: MAX_PREPARED_TRANSACTIONS
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: MAX_PREPARED_TRANSACTIONS
            - name: SHARED_BUFFERS
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: SHARED_BUFFERS
            - name: EFFECTIVE_CACHE_SIZE
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: EFFECTIVE_CACHE_SIZE
            - name: WORK_MEM
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: WORK_MEM
            - name: MAINTENANCE_WORK_MEM
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: MAINTENANCE_WORK_MEM
            - name: MAX_WORKER_PROCESSES
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: MAX_WORKER_PROCESSES
            - name: MAX_PARALLEL_WORKERS
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: MAX_PARALLEL_WORKERS

          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
            - name: init-scripts
              mountPath: /docker-entrypoint-initdb.d

      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: init-scripts
          configMap:
            name: postgres-init-scripts
            defaultMode: 0755
  {{- end }}
