apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: ${REGISTRY_HOST}:30500/${BUILT_IMAGE}
          imagePullPolicy: Always
          command:
            - "redis-server"
          args:
            - "--requirepass"
            - "$(REDIS_PASSWORD)"
            - "--appendonly"
            - "yes"
            - "--save"
            - "60"
            - "100"

          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: REDIS_PASSWORD

          ports:
            - containerPort: ${PORT}
          readinessProbe:
            exec:
              command:
                - "redis-cli"
                - "-a"
                - "$(REDIS_PASSWORD)"
                - "ping"
            initialDelaySeconds: 15
            timeoutSeconds: 5
            periodSeconds: 5
            failureThreshold: 3
          livenessProbe:
            exec:
              command:
                - "redis-cli"
                - "-a"
                - "$(REDIS_PASSWORD)"
                - "ping"
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          volumeMounts:
            - name: redis-data
              mountPath: /data
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-pvc
