global:
  registry: "registry.default.svc.cluster.local:5000"
  imagePullPolicy: Always
  aws:
    region: "eu-central-1"
    ecrRegistryUrl: "548858542119.dkr.ecr.eu-central-1.amazonaws.com"
    accessKeyId: ""
    secretAccessKey: ""

  envTag: "prd"
  imgPrefix: "tis"

  versions:
    postgres: "tis-1.0.0"
    pgbouncer: "tis-1.0.0"
    redis: "tis-1.0.0"
    langflow: "tis-1.0.0"

postgres:
  enabled: true
  image:
    repository: "citus/citus"
    tag: "built"
    originalName: "citusdata/citus:13.2-pg16"
  service:
    port: 5432
    redirectPort: 5433
  databases:
    - langflow_db
    - app_db
    - keycloak_db
    - langfuse_db
  auth:
    username: "postgres_user"
    password: ""
    database: "langflow_db"
  persistence:
    size: 1Gi
  config:
    max_connections: 150

pgbouncer:
  enabled: true
  image:
    repository: "pgbouncer/pgbouncer"
    tag: "built"
    originalName: "edoburu/pgbouncer:v1.24.1-p1"
  service:
    port: 6432
    redirectPort: 6433
  pool:
    mode: session
    max_client_conn: 1000
    default_pool_size: 20

redis:
  enabled: true
  image:
    repository: "redis/redis"
    tag: "built"
    originalName: "ai-redis"
  service:
    port: 6379
    redirectPort: 6380
  auth:
    password: ""
  persistence:
    size: 1Gi

langflow:
  enabled: true
  image:
    repository: "langflow/langflow"
    tag: "built"
    originalName: "ai-langflow"
    pullPolicy: Always

  service:
    type: NodePort
    port: 7860
    targetPort: 7860
    redirectPort: 7860
    nodePort: 30001 # Fixed port for easier access

  resources:
    workers: 1
    threads: 1
    timeout: 120
    keepAlive: 5
    gracefulTimeout: 30
    backlog: 2048

  podResources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "2Gi"
      cpu: "1"

  persistence:
    flows:
      size: 1Gi
    logs:
      size: 1Gi

  externalFiles:
    hostPathRoot: "/workspace"
    components:
      enabled: true
      path: "kubernetes/langflow/src/tis_components"
    initScripts:
      enabled: true
      path: "kubernetes/langflow/init/python"
  config:
    logLevel: "debug"
    cacheType: "memory"
    doNotTrack: "True"
    autoLogin: "False"
    superuser: "service_user"
    username: "langflow"
    createStarterProjects: "False"
    updateStarterProjects: "False"
    backendUrl: "http://localhost:7860"

  auth:
    secretKey: ""
    superuserPassword: ""
    password: ""
